<html lang="en">
	<head>
		<title>Cafe World Tutorial</title>
	</head>
	<body>
		<!-- <h1>Tutorial Video</h1>
		<video controls loop width="640" height="480">
			<source src="/static/roblocks/images/tutorialVid" type="video/mp4">
		  </video> -->


		  <div class = 'row' style = "height:100%; width:100%;">
	
			  <div class="col-sm-3" style="height:100%; width:30%;">
				<img src = "/static/roblocks/images/cafe_domain.png" style= "border:5px solid #000000; padding:3px; margin:5px"/>
				<h1>Cafe World Task</h1>
				<p>In this domain your task is to deliver cans to the tables.</p>

			  </div>

			  <div class="col-sm-3" style="height:100%; width:70%;">
				<h1>Interface</h1>
				<p>Choose Actions from the Actions tab and drag the block into the white playground.</p>
				<img src = "/static/roblocks/images/cafe_help.png" style= "border:5px solid #000000; padding:3px; margin:5px"/>
			  </div>
			  
		  </div>


	</body>
</html>