{% extends "roblocks/header.html" %}
{% block title %}
{% endblock %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'roblocks/style.css' %}">

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 

<script type="text/javascript">

    function populateDomainImage() {

        imgElement = document.getElementById("domain_img")
        selectElement = document.getElementById("domain_select")
        figCaption = document.getElementById("domain_img_caption")

        if (selectElement.value.search("Cafe World") != -1) {

            imgElement.src = "/static/roblocks/images/cafe_domain.png"
            figCaption.textContent = "You will be expected to deliver cans to tables"
            imgElement.style.display = ""
        }
        else if (selectElement.value.search("Keva") != -1) {

            imgElement.src = "/static/roblocks/images/keva_domain.png"
            figCaption.textContent = "You will be expected to build structures using planks"
            imgElement.style.display = ""
        }
        else {
            imgElement.src = ""
            figCaption.textContent = "No Domain Selected"
            imgElement.style.display = "none"
        }

        getMenu()

    }
</script>

<style>
    .file_type_label {
    text-align: center;
    display: block;
    }
</style>

<form method='post' enctype="multipart/form-data" class="form-inline">
    <span style="white-space: nowrap">
    {% csrf_token %}
    <input type="hidden" name="goal_setting" value='normal' />
    <h5><a href="docs/index.html" target="_blank">Need help getting started?</a></h5>
    <h4>Please select a Domain and Problem</h4>

    <figcaption id="domain_img_caption">No Domain Selected</figcaption>
    <img id="domain_img" src="" style="display:none; width: 30%; height: 30%"> </img>

    <br/>
        <label class="file_type_label">Select Domain:</label> {{form.domain}}
    <br/>
        <label class="file_type_label">Select Problem:</label>
        <select name="problem" id="problem_select"></select>
        <br/>
        <input type="submit" value = "Solve Task" class="btn btn-primary" style="background-color: #2980b9;">
        {% if code == 404 %}
            {{error}}
        {% endif %}
        <br/><br/><br/>

        <script>
            selectDiv = document.getElementById("domain_select")
            selectDiv.onchange = function() {populateDomainImage();}
        </script>
</span>
</form>
<script type="text/javascript">
    function getMenu()
    {
        const selectedDomain = document.getElementById("domain_select").value;
        const problemSelect = document.getElementById("problem_select");
        problemSelect.options.length = 0;

        const domainData = {'domain': selectedDomain};
        $.ajax({
            url: "get_problem_names",
            method: "GET",
            async: false,
            data: domainData
        }).done(function(data){ 
            
            // Add the curriculum problem as the first option.
            random = ['Curriculum Problem']
            for(let i=0;i<random.length;i++){
                let problemOption = document.createElement('option');
                problemOption.value = random[i];
                problemOption.text = random[i];
                problemSelect.options.add(problemOption);

            }

            for (let problemName of data.problem_names) {
                let problemOption = document.createElement('option');
                problemOption.value = problemName;
                problemOption.text = problemName;
                problemSelect.options.add(problemOption);
            }
        });
    }
</script>
{% endblock %}