{% extends "roblocks/header.html" %}
{% block title %}
{% endblock %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'roblocks/style.css' %}">

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 
<style>
    .file_type_label {
    text-align: center;
    display: block;
    }
</style>

<form method='post' enctype="multipart/form-data" class="form-inline">
    <span style="white-space: nowrap">
    {% csrf_token %}
    <h5><a href="docs/index.html" target="_blank">Need help getting started?</a></h5>
    <h4>Please select a Domain and Problem</h4>

    <br/>
        <label class="file_type_label">Select Domain:</label> {{form.domain}}
    <br/>
        <label class="file_type_label">Select Problem:</label>
        <select name="problem" id="problem_select"></select>
        <br/>
        <input type="submit" value = "Start JEDAI Training" class="btn btn-primary" style="background-color: #2980b9;">
        {% if code == 404 %}
            {{error}}
        {% endif %}
        <br/><br/><br/>
</span>
</form>
<script type="text/javascript">
    function getMenu()
    {
        const selectedDomain = document.getElementById("domain_select").value;
        const problemSelect = document.getElementById("problem_select");
        problemSelect.options.length = 0;

        const domainData = {'domain': selectedDomain};
        $.ajax({
            url: "get_problem_names",
            method: "GET",
            async: false,
            data: domainData
        }).done(function(data){ 
            for (let problemName of data.problem_names) {
                let problemOption = document.createElement('option');
                problemOption.value = problemName;
                problemOption.text = problemName;
                problemSelect.options.add(problemOption);
            }
        });
    }
</script>
{% endblock %}